.justified_text1 {
  margin: 40px 16px 8px 16px;
  text-align: justify;
  max-width: 700px;
}

.justified_text {
  margin: 8px 40px 120px 40px;
  text-align: justify;
  max-width: 700px;
}

.justified_text li {
  list-style-type: disc; /* Puedes usar diferentes valores como "circle", "square", "decimal", etc. */
}

.text_right {
  width: 70%;
  text-align: right;
  margin-right: 200px;
}

.text_left{
  width: 70%;
  text-align: left;
  margin-left: 200px;
}

.text_left2{
  width: 80%;
  text-align: left;
  margin-left: 100px;
}

