.categoryCard {
    height: auto;
    width: auto;
    margin: 4px;
  }
  
  @media screen and (min-width: 500px) {
    .categoryCard {
      height: 300px;
      width: 240px;
    }
  }

  @media screen and (min-width: 820px) {
    .categoryCard {
      height: 250px;
      width: 200px;
      margin: 8px;
    }
  }

  @media screen and (min-width: 1000px) {
    .categoryCard {
      height: 277px;
      width: 222px;
      margin: 12px;
    }
  }
/* 
  @media screen and (min-width: 1024px) {
    .categoryCard {
      height: 400px;
      width: 320px;
    }
  } */
  
  @media screen and (min-width: 1350px) {
    .categoryCard {
      height: 400px;
      width: 320px;
    }
  }