.form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  margin-top: 12px;
  width: 350px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button1 {
  margin-top: 12px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  width: 350px;
}

.button1:hover {
  background-color: #444444;
}

.button2 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  margin-top: 12px;
  padding: 10px;
  border: 1px;
  border-color: black;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  width: 350px;
}

.button2:hover {
  background-color: #b1b1b1;
}

.error {
  color: red;
}

.check {
  margin-top: 16px;
  display: flex; /* Utilizamos flexbox para controlar el ancho del checkbox y el texto */
  align-items: left; /* Centramos verticalmente el contenido */
}

/* Estilos para el checkbox */
.check input[type="checkbox"] {
  width: 40px;
  
  /*flex-shrink: 0; /* Evita que el checkbox se encoja */
  margin-right: 8px; /* Espacio entre el checkbox y el texto */
  /* Agrega otros estilos según tus necesidades para el checkbox */
}

/* Estilos para el texto */
.check label {
  width: 350px;
}